// Ensure there is only 1 client prefs landmark at anytime (for pinned column-end appearance panel)
.vector-feature-appearance-pinned-clientpref-0 .vector-column-end .vector-appearance-landmark {
	display: none;
}

#vector-appearance-dropdown {
	.vector-dropdown-content {
		.mixin-vector-dropdown-content-flip();
	}
}

.exclusion-notice {
	color: @color-disabled;
}

.skin-client-pref-exclusion-notice {
	display: none;
}

@media ( max-width: 1399px ) {
	// By default, limited width client pref should be hidden unless the breakpoint below is reached.
	.vector-feature-limited-width-clientpref-0 #skin-client-prefs-vector-feature-limited-width {
		.skin-client-pref-exclusion-notice {
			display: block;
		}
	}
}
