// Ensure there is only 1 main menu landmark at anytime
.vector-feature-main-menu-pinned-enabled .vector-header-start .vector-main-menu-landmark,
.vector-feature-main-menu-pinned-disabled .vector-main-menu-container .vector-main-menu-landmark {
	display: none;
}

.vector-main-menu {
	border-right: @border-width-base @border-style-base @border-color-content-box;

	.mw-list-item.mw-list-item-active a {
		font-weight: bold;
	}

	.mw-list-item a {
		color: @color-base !important; /* stylelint-disable-line declaration-no-important */

		&:visited,
		&:hover,
		&:visited:hover {
			color: @color-base !important; /* stylelint-disable-line declaration-no-important */
		}
	}

	// Hide #p-navigation label
	#p-navigation .vector-menu-heading {
		display: none;
	}
}
