// Ensure there is only 1 main menu landmark at anytime
.vector-feature-main-menu-pinned-enabled .vector-header-start .vector-main-menu-landmark,
.vector-feature-main-menu-pinned-disabled .vector-main-menu-container .vector-main-menu-landmark {
	display: none;
}

.vector-main-menu {
	.mw-list-item.mw-list-item-active a {
		font-weight: bold;
	}

	.mw-list-item a {
		color: @color-base !important; /* stylelint-disable-line declaration-no-important */

		&:visited,
		&:hover,
		&:visited:hover {
			color: @color-base !important; /* stylelint-disable-line declaration-no-important */
		}
	}

	// Hide #p-navigation label
	#p-navigation .vector-menu-heading {
		display: none;
	}

	// External link icon in sidebar, coloured to match the link text
	.vector-menu-content-list a[href^="http"] {
		display: inline-block;
		padding-right: 1em;
	}

	.vector-menu-content-list a[href^="http"]::after {
		content: "";
		display: inline-block;
		width: 0.857em;
		height: 0.857em;
		margin-left: 0.3em;
		background-color: currentColor;
		mask-image: url( './images/link-external-small-ltr-progressive.svg' );
		mask-repeat: no-repeat;
		mask-position: center;
		mask-size: contain;
		-webkit-mask-image: url( './images/link-external-small-ltr-progressive.svg' );
		-webkit-mask-repeat: no-repeat;
		-webkit-mask-position: center;
		-webkit-mask-size: contain;
	}
}
